<<<<<<< HEAD
.red {
  color: rgb(231, 42, 42);
}

.green {
  color: rgb(19, 155, 19);
}
=======
.red {
  color: rgb(231, 42, 42);
}

.green {
  color: rgb(19, 155, 19);
}
>>>>>>> a649d95ab29921b1d0cf9bd11fcae1581c9019db
